body {
	position: relative;
	min-height: 100vh;
	min-height: 100svh;
	overflow-y: scroll;
}

body::before {
	content: '';
	position: absolute;
	inset: 0;
	background-image: url('../images/background.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	z-index: -1;
	opacity: 0.05;
}

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
	-webkit-appearance: none;
	margin: 0;
}
