.wrapper {
	display: grid;
	row-gap: 0.2em;
}

.header {
	display: grid;
	grid-template-columns: 1fr auto 1fr;
	column-gap: 0.5em;
	align-items: center;
}

@keyframes popIn {
	0% {
		transform: scale(0.9);
	}
}

.label {
	font-size: 2em;
	grid-column: 2;
	text-align: center;
}

@media (prefers-reduced-motion: no-preference) {
	.label {
		animation: popIn 0.2s ease-in-out;
	}
}

.destroyer {
	text-align: right;
}
