.wrapper {
	display: grid;
	grid-template-rows: 1fr;
	overflow: hidden;
}

@media (prefers-reduced-motion: no-preference) {
	.wrapper {
		transition-property: grid-template-rows, opacity, visibility;
		transition-duration: 1s, 0.6s, 0.6s;
		transition-delay: 3s, 2s, 2s;
	}
}

.wrapper.is_stopped {
	grid-template-rows: 0fr;
	opacity: 0;
	visibility: hidden;
}

.content {
	overflow: hidden;
	padding-block: 0.3em;
}
