.players {
	position: relative;
}

.players-item {
	--players-x: 0.5;

	position: relative;
	left: -0.5%;
	width: 1%;
	display: flex;
	flex-direction: column;
	align-items: center;
	font-size: 16px;
	text-align: center;
	transform: translateX(calc(var(--players-x) * 10000%));
}

.players-item-in {
	display: flex;
	flex-direction: column;
}

.players-image {
	border-left: 1em solid transparent;
	border-right: 1em solid transparent;
	border-bottom: 1.5em solid;
	align-self: center;
}

.players-name {
	white-space: nowrap;
	margin-top: 0.5em;
}
